<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="exampleportlistener_port" value="8181" />
    <add key="exampletimedworker_interval" value="60" />
    <add key="WorkerAssembly" value="codehenge.services.servicebase" />
    <add key="ServiceName" value="ExampleService" />
    <add key="workers" value="ExampleTimedWorker,ExamplePortListenerWorker" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="LogPath" value="C:\CHServiceLogs\"/>
  </appSettings>
</configuration>